<div class="container">
  <div class="p-16 bg-light-primary rounded">
    <h5 class="f-s-14 text-primary d-flex align-items-center f-w-600">
      Add Meeting
    </h5>
  </div>
  <form [formGroup]="meetingForm" (submit)="onSubmit()">
    <div class="row m-t-20">
      <div class="col-lg-12">
        <!-- input -->
        <mat-label class="f-s-14 f-w-600 submitm-b-8 d-block">Meeting Name</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput formControlName="meetingName" type="text" />
        </mat-form-field>

        <!-- input -->
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Start Date</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput formControlName="startDate" [matDatepicker]="picker" />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- input -->
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">End Date</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput formControlName="endDate" [matDatepicker]="picker2" />
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <!-- input -->
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Description</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <textarea matInput formControlName="description" rows="5"></textarea>
        </mat-form-field>

      </div>

    </div>
    <div class="m-t-12">
      <button type="submit" mat-flat-button class="m-l-8">Submit</button>
    </div>

  </form>
