

<form [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="meetingName">Toplantı Adı</label>
    <input id="meetingName" formControlName="meetingName" class="form-control" />
  </div>

  <div class="form-group">
    <label for="startDate">Başlangıç Tarihi</label>
    <input id="startDate" type="datetime-local" formControlName="startDate" class="form-control" />
  </div>

  <div class="form-group">
    <label for="endDate">Bitiş Tarihi</label>
    <input id="endDate" type="datetime-local" formControlName="endDate" class="form-control" />
  </div>

  <div class="form-group">
    <label for="description">Açıklama</label>
    <textarea id="description" formControlName="description" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label for="document">Doküman Yükle</label>
    <input type="file" formControlName="document" (change)="onFileChange($event)" />

  </div>

  <button type="submit" class="btn btn-primary">Kaydet</button>
</form>


<mat-card class="cardWithShadow">
  <mat-card-content>
      <div class="d-flex">
          <div class="m-r-auto">
              <mat-card-title>Meetings</mat-card-title>
          </div>

      </div>
      <div class="table-responsive">

        <table mat-table [dataSource]="meetings" class="mat-elevation-z8">


          <ng-container matColumnDef="meetingName">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0">
              Meeting Name
            </th>
            <td mat-cell *matCellDef="let meeting" class="p-l-0">
              <div class="d-flex align-items-center">
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">
                    {{ meeting.meetingName }}
                  </h6>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
              Start Date
            </th>
            <td mat-cell *matCellDef="let meeting">
                {{ meeting.startDate | date:'dd-MM-yyyy HH:mm'  }}
            </td>
          </ng-container>

          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
              End Date
            </th>
            <td mat-cell *matCellDef="let meeting">
                {{ meeting.endDate | date:'dd-MM-yyyy HH:mm' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
              Description
            </th>
            <td mat-cell *matCellDef="let meeting">
                {{ meeting.description }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
              Actions
            </th>
            <td mat-cell *matCellDef="let meeting">
              <button mat-stroked-button (click)="onEdit(meeting.id)" class="bg-success text-white">Edit</button>
              <button mat-stroked-button (click)="cancelMeeting(meeting.id)" class="bg-warning text-white">Cancel</button>
              <button mat-stroked-button (click)="deleteMeeting(meeting.id)" class="bg-error text-white">Delete</button>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

      </div>
  </mat-card-content>
</mat-card>


